{% if site.footer-links.email %}<a href="mailto: {{ site.footer-links.email }}" target="_blank"><i class="large black mail link icon"></i></a>{% endif %}

{% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}" target="_blank"><i class="large black github link icon"></i></a>{% endif %}

{% if site.footer-links.instagram %}<a href="http://instagram.com/{{ site.footer-links.instagram }}" target="_blank"><i class="large black instagram link icon"></i></a>{% endif %}

{% if site.footer-links.linkedin %}<a href="http://linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank"><i class="large black linkedin link icon"></i></a>{% endif %}

{% if site.footer-links.twitter %}<a href="http://twitter.com/{{ site.footer-links.twitter }}" target="_blank"><i class="large black twitter link icon"></i></a>{% endif %}
